@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-jawa-gold: #F59E0B;
  --color-jawa-correct: #0284C7;
  --color-jawa-present: #F97316;
  --color-jawa-absent: #78716C;
}

@layer base {
  :root {
    --bg-app: #FFFFFF;
    --text-app: #0F172A;
    --border-app: #F1F5F9;
    --key-bg: #F1F5F9;
    --key-text: #0F172A;
  }

  .dark {
    --bg-app: #0F172A;
    --text-app: #F8FAFC;
    --border-app: #1E293B;
    --key-bg: #1E293B;
    --key-text: #F8FAFC;
  }

  body {
    @apply bg-[var(--bg-app)] text-[var(--text-app)] font-sans antialiased transition-colors duration-300;
  }
}
